body {
    font-family: Tahoma;                 /* Teksttype */
    font-size: 16px;                     /* Tekststørrelse */
    width: 100%;                         /* Full bredde */
    height: 100vh;                       /* Full høyde av visningsvinduet */
    margin: 0;                           /* Ingen margin */
    background-color: #1b1b32;         /* Mørk lilla bakgrunn */
    color: #f5f6f7;                    /* Lys off-white tekstfarge */
}

label {
    display: block;                      /* Hver etikett på en ny linje */
    margin: 0.5rem 0;                    /* Litt avstand over og under hver etikett */
}


h1, p {
    margin: 1em auto;                    /* Litt plass over og under */
    text-align: center;                  /* Sentrert horisontalt */
}

form {
    margin: 0 auto;                      /* Sentrerer formelementet horisontalt */
    max-width: 500px;                    /* Maksimal bredde */
    min-width: 300px;                    /* Minimum bredde */
    width: 60vw;                         /* Bredde mellom 60% av visningsvinduets bredde */
    padding-bottom: 2em;
}

fieldset {
    border: none;                        /* Fjerner borders for fieldset */
    padding: 2rem 0;                     /* Legger til padding top/bottom, fjerner h/v */
    border-bottom: 3px solid #3b3b4f;  /* Custom border bottom for å space ut fieldsettene */
}

fieldset:last-of-type {                  /* Selecter siste fieldsettet med pseudoclass */
    border-bottom: none;
}

input, textarea, select {
    width: 100%;                         /* Setter bredden til 100% av parent-element */
    box-sizing: border-box;              /* Inkluderer padding og grenser i bredden */
    margin: 10px 0 0 0;                  /* 10px margin top, 0 resten */
    min-height: 2em;
}

input, textarea {                        /* Litt styling på input/textarea boksene */
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

a {
    color: #dfdfe2;
}

.inline {
    width: unset;                        /* Overstyrer tidligere width-rule */
    margin: 0 0.5em 0 0;                 /* h/margin 0.5em for litt spacing */
    vertical-align: middle;              /* Aligner elementene vertikalt i midten */
}

input[type="submit"] {                   /* Selector basert på type til et element */
    display: block;                      /* Sentrerer submit knappen */
    width: 60%;
    min-width: 300px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

input[type="file"] {
    padding: 1px 2px;
}